.idea/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/
dist/
build/

# Coverage
/coverage.xml
/.coverage
/htmlcov/

# Local env
.env
.env.local
.env.*.local

# Docker
docker-compose.yml